* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}
.left {
  display: flex;
  cursor: pointer;
}

.side-bar {
  border: 1px rgb(255, 255, 255) solid;
  color: rgb(249, 247, 247);
}
nav h3 {
  font-size: 15px;
  font-weight: 500;
    border: 1px black solid;

  color: #000000;
  border-radius: 25px;
  padding: 4px 12px;
}
nav i {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
    border: 1px black solid;

  border-radius: 15px;
  padding: 4px;
}
nav h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

button {
  border-radius: 25px;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

#login {
  background-color: #fff;
  /* color: rgb(0, 0, 0); */
  border: 1px black solid;
}
#signup {
  background-color: orangered;
  color: #fff;
  border: 1px orangered solid;
}
.page1{
  height: 100vh;
  width: 100%;
}
.page1 > h1 {
  font-family: "Aldrich";
  font-size: 150px;
  width: 100%;
  position: absolute;
  color: #9e9b9b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

img {
  height: 500px;
  width: 400px;
  object-fit: cover;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.368);
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 68, 0, 0.486);
  cursor: pointer;
}
.menu div {
  position: absolute;
  width: 100%;
  top: 60px;
}
#cross {
  position: absolute;
  left: 10%;
  top: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
li {
  padding: 10px 40px;
  margin-top: 10px;
  font-size: 20px;
}
li:hover {
  background-color: #d43b3b;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: #000000;
  padding: 0px 90px ;
}
.page2 h1{
  color: #fff;
  font-size: 40vw;
  font-family: "Atomic Age";
  /* transform: translateX(-150%); */
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}